*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

body{
    background: url(/cv/img/fondo.png);
    /*max-width: 100vh;
    display: inline;*/
}
  
#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 90%;
    border-radius: 20px;
}

#principal {
    width: 33%;
    background-color: #dbd8d8;
    text-align: center;
    border-radius: 20px 0 0 20px
}

#sidebar {
    width: 60%;
    margin-left: 15px;
}

fieldset{
    border: solid 1px rgb(33, 124, 222);
    border-radius: 10px;
    margin: 41px 2px 12px 3px;
    font-size: 15px;
    background: linear-gradient(#787373,50%, blue );

}

#field{
   margin-top: 80px;

}

legend{
    border: solid 1px;
    padding: 5px;
    background-color: #cccccc;
    border-radius: 10px;
    background: linear-gradient(#787373, #ffffff);
}

#yo{
    border: solid 2px;
    border-radius: 9%;
    margin: 10px auto;
   
}
img#RegresarCV {
    margin: -10px 81% 1px -2px;
    float: left;
    width: 11%;
}
h1{
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
}
h2{
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;

}

p{
    font-size: 12px;
    margin: 5px 68px -19px 25px;
    text-align: left;
}
.columna1{
    margin: 1px 8px 5px 8px;
}
.sobreMi{
    font-size: 15px;
    margin: 13px 18px 1px 18px;
    text-align: left;
}
footer{
    margin-top: 1%;
    text-align: center;
    background: linear-gradient(#787373, #ffffff);

}
@media screen and (max-width: 500px) {
    h1{
        font-size: 20px;
        text-align: center;
        margin-left: 29px;
    }
    h2{
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;
    }
    p{
        font-size: 10px;
        text-align: left;
        margin-left: auto;
    }
    .sobreMi{
        font-size: 10px;
        margin: 0px 6px 1px 2px;
        text-align: left;
    }
    footer{
        margin-top: 1%;
        text-align: center;
        background: linear-gradient(#787373, #ffffff);
    }
    fieldset{
        border: solid 1px rgb(33, 124, 222);
        margin: 26px 2px 0px 3px;
        font-size: 10px;
    }

  }
